@model WebNews.Models.ViewModels.IPageViewModel<WebNews.Models.Pages.ArticlePage>
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<p>

    @Html.PropertyFor(x => x.CurrentPage.IntroText)
    @Html.PropertyFor(x => x.CurrentPage.MainBody)

</p>
