@using WebNews.Models.Pages
@model WebNews.Models.ViewModels.IPageViewModel<WebNews.Models.Pages.BasePage>

<section>
    <footer class="footer">

        @Html.PropertyFor(x => x.FooterText)

        @*@{
                if (Model.IsPortalPageFooter)
                {
                    @Html.PropertyFor(x => x.PortalPageReference.CustomFooterText)
                }
                else
                {
                    @Model.FooterText
                }
            }*@


    </footer>
</section>