@model WebNews.Models.ViewModels.IPageViewModel<WebNews.Models.Pages.PortalPage>
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<section>
    @Html.PropertyFor(x => x.CurrentPage.IntroText)
</section>
    @Html.PropertyFor(x => x.CurrentPage.MainContentArea)

