@model WebNews.Models.ViewModels.IPageViewModel<WebNews.Models.Pages.PortalPage>
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<p>
    @Html.PropertyFor(x => x.CurrentPage.IntroText)
    @Html.PropertyFor(x => x.CurrentPage.MainContentArea)
</p>
